<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
</head>
<body>
  <% include templates/header.ejs %>
  <div class="container">
    <div class="page-header">
      <h1><%= title %></h1>
    </div>

    <div class="jumbotron">
      <form id       =  "uploadForm"
      enctype   =  "multipart/form-data"
      action    =  "/calculator/upload"
      method    =  "post"
      >

      <div class="form-group">

        <h3 style="font-family:verdana"> 1.Membership:</h3>
        <select class="form-control" name="membership">
          <option value="diyMember">DIY - MakerLabs Member</option>
          <option value="diyPublic">DIY - Public</option>
          <option value="fullService">Full service - regular</option>
          <option value="fullServiceRush">Full service - rush</option>
        </select><br>

        <h3 style="font-family:verdana">2.Mode:</h3>
        <select class="form-control" name="mode">
          <option value="vector">Vector Cutting</option>
          <option value="raster">Engraving</option>
        </select><br>

        <h3 style="font-family:verdana">3a.Material: (Only for Vector mode)</h3>
        <select class="form-control" name="material">
          <option value="paper">Paper</option>
          <option value="balticBirch_3mm">Baltic Birch - 3mm</option>
          <option value="acryllicClear_6mm">Clear Acryllic - 6mm</option>
        </select><br>

        <h3 style="font-family:verdana">3b.Resolution: (Only for Raster mode)</h3>
        <select class="form-control" name="resolution">
          <option value="252">250 passes per vertical inch</option> <!--actual value is 252-->
          <option value="512">500 passes per vertical inch</option> <!--actual value is 512-->
          <option value="1024">1000 passes per vertical inch</option> <!--actual value is 1024-->
        </select><br>

        <h3 style="font-family:verdana">4. Upload file: (svg, jpg, or png)</h3>
        <input class="btn btn-default" type="file" name="userImage" />
        <input class="btn btn-success" type="submit" value="Calculate Cost" name="submit">

      </div>

    </form>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
