<div class="container text-center">
	<img src="/images/MakerLabs_Logo.png" class="center-block"/> <br>
	<div class="btn-group">
		<a href="/" class="btn btn-info" role="button">Cost Calculator</a>
		<a href="/about" class="btn btn-info" role="button">About</a>
	</div>
</div>